.register-container {
  width: 320px;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  font-family: 'poppins',sans-serif;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.role{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

button:hover {
  background: #218838;
}

p {
  margin-top: 10px;
  font-size: 14px;
  color: #dc3545;
}
